
.sidebarmaindiv{
   width: 20rem;
   background-color: #253245;
   padding: 10px;

}

.sidetop2div{
    display:flex;
    justify-content: center;
    gap: 0.8rem;
  margin:auto;
}
#sidetopbutton{
    margin-top: 10px;
  background-color: #ec008c;
  color:white;
  padding: 8px;
  border-radius:10px;
}
#secondquestionmark{
    margin-top: 10px;
    
}
.menuspan{ 
  display: flex;
  justify-content: flex-start;   
  color: #838f9a;
  gap:15px;
  padding:7px;
  padding-top:12px;
  cursor: pointer;
  border-radius:10px;
}
.menuspan:hover{ 
    background-color: #ec008c;
    color:white;
}
.iconcomponents{
    margin-left: 20px;
}
.iconpara{ 
    margin-top: -6px;
}